<!-- Keeping this-->
<section class="features"
    id="features">
    <div class="container">
        <div class="section-heading text-center">
            <h2>Angular JS 1.6 with Laravel</h2>
            <p class="text-muted">
                Create Contacts Database with Laravel Framework. <br>
                <button ng-click="">Refresh Rest Data</button>
            </p>
            <hr>
        </div>
        <!-- close container-->
    </div>
    <!-- close section-->
</section>