<div class="row">
  <div class="col-md-5">
  </div>
  <div class="col-5-md text-center">
    <input class="form-control"
      type="text"
      ng-model="search"
      placeholder="Search for a contact" />
  </div>
  <div class="col-md-2">
  </div>
  <!-- end row-->
</div>



<br> <br>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-4-md text-center my-auto">
    <table>
      <th class="pr-5">Name</th>
      <th class="pr-5">Last Name</th>
      <th classs="pr-5"> Email</th>
      <th class="pl-5"> Cell</th>
      <tr ng-repeat="contact in Contacts | orderBy:'first_name' | filter : search "
        ng-show="contact.active">
        <td class="pr-5">{{contact.first_name}}</td>
        <td class="pr-5">{{contact.last_name}}</td>
        <td class="pr-5">{{contact.email}}</td>
        <td class="pl-5">{{contact.mobile_number}}</td>
        <td class="pl-5">
          <div class="removeContact" ng-click="removeContact()">
          <button>
              <i class="fa fa-times"></i>
          </button>
            
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
  </div>
  <!-- end row-->
</div>


<br>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-lg-4 text-center my-auto">
    <div class="container-fluid">
      <!--Start Form-->
      <form class="form-control"
        ng-submit="addContact() ">
        <p class="text-center"> Enter Details To Create New Contact</p>
        <input class="form-control "
          type="text"
          ng-model="newcontact.name"
          placeholder="Name"
          required/><br>
        <input class="form-control"
          type="text"
          ng-model="newcontact.lastname"
          placeholder="Surname"
          required><br>
        <input class="form-control"
          type="email"
          ng-model="newcontact.email"
          placeholder="Email"
          required>
        <!--Show when email = 'ng-invalid-email' -->
        <br ng-show="addUser.email.$error.email">
        <span ng-show="addUser.email.$error.email"
          style="color:red;">Email not yet valid!</span>
        <br ng-show="addUser.email.$error.email">
        <!--End display email = 'ng-invalid-email' -->
        <br>
        <input class="form-control"
          type="number"
          ng-model="newcontact.mobilenumber"
          placeholder="cell"
          required>
        <hr>

        <div class="text-cemter row">
          <div class="col-md-12 text-center">
            <input 
              type="submit"
              class="btn bg-success"
              ng-disabled="addUser.$invalid"
              value="Create User">
          </div>
        </div>
      </form>
      <!--End Form-->
    </div>
  </div>
</div>