
<style>
    input.ng-invalid.ng-dirty {
      border: 1px solid red;
    }
  </style>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top"
      id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger"
          href="#page-top"> Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button"  data-toggle="collapse"   data-target="#navbarResponsive"  aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse"
          id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="pr-4"> 
                <a href="#!view">
                    View
                </a>
            </li>
            <li> 
                <a href="#!home">
                    home
                </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
